.categories {
  display: flex;
  gap: 0.67rem;
  justify-content: center;
  margin-bottom: 1.21rem;
}

.allBtn {
  background-color: transparent;
  border: none;
  border-radius: 2.83rem;
  color: #797d86;
  font-size: 0.563rem;
  font-style: normal;
  font-weight: 300;
  height: 2.83rem;
  text-align: center;
  width: 2.83rem;
}

.mapCategories {
  background-color: transparent;
  border: none;
  border-radius: 2.83rem;
  color: #797d86;
  font-size: 0.562rem;
  font-style: normal;
  font-weight: 300;
  height: 2.83rem;
  text-align: center;
  width: 2.83rem;
}
