.categories {
  display: flex;
  gap: 0.67rem;
  justify-content: center;
  margin-bottom: 1.21rem;
}

.allBtn {
  background-color: transparent;
  border: none;
  border-radius: 2.83rem;
  color: #797d86;
  font-size: 0.563rem;
  font-style: normal;
  font-weight: 300;
  height: 2.83rem;
  text-align: center;
  width: 2.83rem;
}

.mapCategories {
  background-color: transparent;
  border: none;
  border-radius: 2.83rem;
  color: #797d86;
  font-size: 0.562rem;
  font-style: normal;
  font-weight: 300;
  height: 2.83rem;
  margin-bottom: 1.2rem;
  text-align: center;
  width: 2.83rem;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.card {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 0.312rem;
  display: flex;
  flex-direction: column;
  width: 10.2rem;
}

.card img {
  border-radius: 0.27rem 0.27rem 0.01rem 0.01rem;
  height: 8.428rem;
  width: 100%;
}

.card span {
  color: #1a1b1c;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  margin: 0.63rem 0.1rem 0.58rem 0.92rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
