.categories {
  display: flex;
  gap: 2.67rem;
  justify-content: center;
  margin-bottom: 1.21rem;
}

.mapCategories {
  background-color: transparent;
  border: none;
  border-radius: 5.83rem;
  color: #797d86;
  font-size: 0.562rem;
  font-style: normal;
  font-weight: 300;
  height: 4.5rem;
  margin-bottom: 1.2rem;
  text-align: center;
  width: 4rem;
}

.mapCategories img {
  width: 4.5rem;
}

.allCards {
  align-items: center;
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card {
  background: white;
  border: 0.518px solid #b1b1b1;
  border-radius: 0.312rem;
  display: flex;
  flex-flow: nowrap;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.card img {
  border-radius: 0.312rem 0 0 0.312rem;
  height: 8.428rem;
  width: 10.209rem;
}

.card button {
  background-color: transparent;
  border: none;
  left: -1rem;
  position: relative;
}

.card button img {
  margin: 0 0.5rem;
  margin-top: 1.5rem;
  max-height: 1.5rem;
  max-width: 2rem;
}

.card div {
  align-content: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.name {
  color: #1a1b1c;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.spans {
  color: #797d86;
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 400;
  left: -0.6rem;
  margin: -0.37rem 0.1rem 0.58rem 0.92rem;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card div a {
  left: -1rem;
  margin: 0.2rem;
  margin-top: 1rem;
  position: relative;
  text-decoration: none;
}
