.container {
  display: flex;
  flex-wrap: wrap;
}

.searchInput {
  background: white;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  height: 40px;
  margin: 0.1px 11px;
  width: 100%;
}

.searchInput::placeholder {
  color: #797d86;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 13px 168px 13px 16px;
}

.filters {
  background-color: #41197f;
  border-radius: 10px;
  border-top-left-radius: 0.1px;
  border-top-right-radius: 0.1px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  height: 88px;
  justify-content: center;
  margin: 0.1px 12px;
  margin-bottom: 30px;
  padding: 10px 64px;
  width: 100%;
}

.filters label {
  color: white;
  display: flex;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  gap: 6px;
  margin-top: 6px;
}

.filters button {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: 25px;
  letter-spacing: 0.36px;
  padding-top: 4px;
  text-align: center;
  text-transform: uppercase;
  width: 236px;
}
