.headerContainer {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  width: 100%;
}

.headerContainer nav {
  display: flex;
  justify-content: space-around;
  width: 5rem;
}

.recipeIconDiv {
  text-align: center;
  width: 5rem;
}

.recipeImg {
  margin: 0.375rem 0 1rem;
}

.nameLogoImg {
  margin: 1.25rem 0 1.5rem;
  width: 6.875rem;
}

.noSearchIcon {
  margin: 1.25rem 0 1.5rem;
  width: 6.875rem;
}


.searchSpyglass {
  background-color: #fcdc36;
  border: none;
}

.profileIcon {
  background-color: #fcdc36;
  border: none;
}

.divIconAndTitle {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.recipeIcon {
  margin: 1.875rem 10rem 0.375rem;
  width: 2.5rem;
}

.divIconAndTitle h1 {
  color: #41197f;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.135rem;
  margin: 0.375rem 6.625rem 1.31rem;
  text-align: center;
  text-transform: uppercase;
}
