.carouselContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  max-width: 600px;
  width: 100%;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner {
  display: flex;
}

.itemCard {
  min-height: 200px;
  min-width: 11rem;
  transition: transform 0.3s ease-in-out;
}

.itemCard:hover {
  transform: scale(1.05);
}

.itemCard img {
  border-radius: 12px;
  height: 90%;
  pointer-events: none;
  width: 20vh;
}

.startRecipe {
  bottom: 0%;
  left: 8rem;
  position: fixed;
  z-index: 1;
}

.shareBtn {
  left: 15.5rem;
  position: relative;
  z-index: 1;
}

.favBtn {
  left: 15.5rem;
  position: relative;
  z-index: 1;
}

.recipephoto {
  margin-left: 1rem;
  max-height: 27vh;
  width: 90vw;
}

.recipetitle {
  color: #1a1b1c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 1rem;
  text-align: center;
}

.recipecategory h3 {
  color: #1a1b1c;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 550;
  margin-left: 0.5rem;
  margin-top: 1rem;
  text-align: left;
}

.instructions p {
  border-radius: 5.35px;
  color: blue;
  height: 448px;
  left: 13px;
  top: 392px;
  width: 335px;

}
