.mainLogin {
  align-items: center;
  background-image: url('../../images/tomate.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 480px;
  width: 100vw;
}

.container1 {
  align-items: center;
  background-color: #41197f;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  z-index: -1;
}

.recipesLogo {
  height: 157px;
  left: auto;
  position: absolute;
  top: 58px;
  width: 198px;
}

.container2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  width: 390px;
}

.form h1 {
  color: #41197f;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 3.3px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 182px;
}

.form label input {
  border: 0.5px solid #41197f;
  border-radius: 5px;
  color: #41197f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: none;
  padding: 9px 42px;
  width: 276px;
}

.form label input::placeholder {
  color: #41197f;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.form button {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 100%;
  letter-spacing: 0.42px;
  padding: 10px 47px;
  text-align: center;
  text-transform: uppercase;
  width: 276px;
}

.form button:disabled {
  opacity: 0.5;
}
